@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

page-home * {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

page-home header {
  width: 100%;
  height: 50px;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

page-home h1, page-home h2, page-home h3, page-home h4, page-home h5, page-home h6{
	font-family:'Montserrat', sans-serif;
	color:#EA3925;
	font-weight:800;
}

page-home p{
	color:#333;
	font-size:1.2em;
	line-height:1.8;
}

page-home .contenedor {
  width: 98%;
  margin: auto;
}

page-home #menu-bar {
  display: none;
}

page-home header label {
  float: right;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

page-home .menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

page-home header .contenedor {
  display: table;
}

page-home .menu button {
  display: block;
  color: #FFF;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  width: 100%;
  transition: color 0.5s;
  border-radius: 0;
  margin: 0 auto;
  font-weight: bold;
}

page-home .menu button .linea {
  display: block;
  width: 0%;
  height: 2px;
  background-color: #EA3925;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  bottom: 0;
}

page-home .menu button:hover {
  /*background: rgba(255, 255, 255, 0.3) !important;*/
  background-color: transparent;
  color: #EA3925;
}

page-home .menu button:hover .linea {
  width: 100%;
}

page-home #menu-bar:checked ~ .menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

page-home .footerP {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: #8b898c;
  text-align: center;
}

page-home #slide-image {
  /* margin-top: 80px !important; */
  /* height: 70%; */
  width: 100%;
}

page-home .thumb-img {
  padding: 15px;
  margin: auto;
  display: block;
}

page-home .title {
  margin-top: 80px;
  text-align: center;
}

page-home .description {
  text-align: center;
}

page-home #map {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 15px;
  display: block;
}

page-home #logo {
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 0%;
}

page-home .divContenido {
  margin-top: 50px;
}

page-home .linajeImg {
  width: auto;
  max-width: 200px;
  height: auto;
  min-height: 200px;
  padding: 10px;
  opacity: 0.7;
  transition: opacity 0.5s;
}

page-home .linajeImg:hover, page-home .linajeImg[active=true] {
  opacity: 1;
  background-color: #F3B03F;
}

.red-bg, .orange-bg {
  padding: 25px 55px;
}
.orange-bg {
  background-color: #F3B03F;
}

.red-bg{
  background-color: #EA3925;
}

.red-bg h1, .red-bg h2, .red-bg h3, .red-bg h4, .red-bg h5, .red-bg h6,
.orange-bg h1, .orange-bg h2, .orange-bg h3, .orange-bg h4, .orange-bg h5, .orange-bg h6 {
  color: #FFF;
}

.red-bg p, .orange-bg p {
  color: #000;
}

.p-col p{
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  /* Firefox */
  column-gap: 20px;
}

page-home #footer{
     margin: 20;
     text-align: center;
 } 
 
page-home #btnLogo2{
	height: 150px;
} 

@media (min-width: 1024px) {
  page-home .menu {
    position: static;
    width: auto;
    height: 50px;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    float: right;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  page-home .menu a {
    border: none;
  }
  page-home header label {
    display: none;
  }
}

@media (max-width: 960px) {
  page-home .linajeImg {
    width: 100%;
    max-width: 100%;
    min-height: auto;
    height: auto;
  }
  .p-col p{
    -webkit-column-count: 1;
    column-count: 1;
  }
}
