@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


/* The animation code */
@keyframes shake {
    /*0%   {transform:rotate(2deg)}
    25%  {transform:rotate(-4deg)}
    50%  {transform:rotate(4deg)}
    100% {transform:rotate(-2deg)}*/
	0%{transform:translateX(1%)}
	25%{transform:translateX(-2%)}
	50%{transform:translateX(2%)}
	75%{transform:translateX(-2%)}
	100%{transform:translateX(1%)}
}

page-home * {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
page-home #bk{
  height: 100% !important;
  width: 100% !important;
  left:0 !important;
  top:50px !important;

  position: fixed !important;
  background-color: rgba(0,0,0,0.65) !important;
  display: none;
  z-index: 100;
}
page-home header {
  width: 100%;
  height: 50px;
  background: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#social{
  
}
page-home h1, page-home h2, page-home h3, page-home h4, page-home h5, page-home h6{
	font-family:'Raleway', sans-serif;
	color:#EA3925;
	font-weight:800;
}

page-home p{
	color:#333;
	font-size:1.2em;
	line-height:1.8;
}

page-home .contenedor {
  width: 98%;
  margin: auto;
}

page-home #menu-bar {
  display: none;
}

page-home .menu-btn {
  display: block;
  height: 16px;
  width: 30px;
  position: relative;
  margin-top: 10px;
}

page-home .menu-btn .line {
  	display: block;
	background-color: #fff;
    height: 2px;
    margin: 5px 0;
    transition: all .7s ease;
    width: 30px;
}

page-home .menu-btn #line-3 {
  margin-bottom: 0;
}


page-home .menu-btn.open #line-1{
  transform: rotate(-45deg);
  width:20px;
}

page-home .menu-btn.open #line-2{
  transform: rotate(45deg);
  width:20px;	
}

page-home .menu-btn.open #line-3{
  transform: rotate(180deg);
}



page-home header label {
  float: left;
  font-size: 28px;
  margin: 6px 0;
  cursor: pointer;
}

page-home .menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
  min-width:250px;
  height: 100vh;
  background: rgba(51, 51, 51, 0.9);
  transition: all 0.5s;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index:120;
}

page-home header .contenedor {
  display: table;
}

page-home .menu button {
  display: block;
  color: #FFF;
  height: 50px;
  text-decoration: none;
  padding: 15px;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  width: 100%;
  transition: color 0.5s;
  border-radius: 0;
  margin: 0 auto;
  font-weight: bold;
}

page-home .menu button .linea {
  display: block;
  width: 0%;
  background-color: #EA3925;
  transition: all 0.2s;
  position: absolute;
  left: 0;
  bottom: 0;
}

page-home .menu button:hover, page-home .menu button.active {
  /*background: rgba(255, 255, 255, 0.3) !important;*/
  background-color: transparent;
  color: #EA3925;
}



page-home .menu button:hover .linea, page-home .menu button.active .linea {
  width:5px;
  height:100%;

}


page-home #menu-bar:checked ~ .menu {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

page-home #menu-bar:checked ~ div#bk {
  display: block;
}


page-home #menu-bar:checked ~ label .menu-btn #line-1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width:20px;
}

page-home #menu-bar:checked ~ label .menu-btn #line-2 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-left:2px;
}

page-home #menu-bar:checked ~ label .menu-btn #line-3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width:20px;
}

page-home .footerP {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: #8b898c;
  text-align: center;
}

page-home #slide-image {
  /* margin-top: 80px !important; */
  /* height: 70%; */
  width: 100%;
}

page-home .thumb-img {
  padding: 15px;
  margin: auto;
  display: block;
}

page-home .title {
  margin-top: 80px;
  text-align: center;
}

page-home .description {
  text-align: center;
}

page-home #map {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 15px;
  display: block;
}

page-home #logo {
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 0%;
}

page-home .divContenido {
  margin-top: 50px;
}

page-home .linajeImg {
  width: auto;
  max-width: 200px;
  height: auto;
  min-height: 50px;
  padding: 5px;
  opacity: 0.5;
  transition: opacity 0.5s;
}

page-home .linajeImg:hover, page-home .linajeImg.active{
  opacity: 1;
  background-color: #efefef;
  outline: 5px solid #efefef;
}

page-home .linajeImg.active, page-home .linajeImg:active{
  animation-name: shake;
  animation-duration: .4s;
}


.red-bg, .orange-bg {
  padding: 25px 55px;
}
.orange-bg {
  background-color: #F3B03F;
}

.red-bg{
  background-color: #EA3925;
}

.red-bg h1, .red-bg h2, .red-bg h3, .red-bg h4, .red-bg h5, .red-bg h6,
.orange-bg h1, .orange-bg h2, .orange-bg h3, .orange-bg h4, .orange-bg h5, .orange-bg h6 {
  color: #FFF;
}

.red-bg p, .orange-bg p {
  color: #000;
}

.p-col p{
  -webkit-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 50px;
   column-gap: 50px; 
}

page-home #footer{
     margin: 20;
     text-align: center;
 } 
 
page-home #btnLogo2{
	height: 150px;
} 

page-home .vingtsun button{
	color:#EA3925;
}

page-home .tit{
	position:relative;
	width:100%;
	padding:5%;
	margin:0 0 65px 0;
	text-align:center;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}

page-home .tit .bg{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

page-home .tit h1{
	padding:0;
	margin:0;
	font-size:3em;
	text-transform:uppercase;
}

.btn-exp ion-item{
    color: #EA3925;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
	cursor:pointer;
}

.btn-exp ion-card-content{
	padding:0 !important;
	display:none;
	opacity:0;
	transition: all .7s ease;

}


.btn-exp ion-card-content p{
	margin:0;
	padding: 16px!important;
}

.btn-exp ion-avatar .ico{
	transition:all .3s;
	transform: scale(1, 1);
	opacity:1;
}

.btn-exp ion-avatar.zoom .ico{
	transform: scale(3, 3);
	opacity:0;
}

.btn-exp ion-avatar .logo{
	display:none;
}

.btn-exp ion-avatar.zoom .logo{
	display:block;
	margin-top:-40px;
}

.platform-ios .btn-exp ion-avatar.zoom .logo{
	display:block;
	margin-top:-36px;
}

.btn-exp ion-item:hover, .btn-exp.active ion-item{
    color: #FFF;
    background-color:#EA3925
}

.btn-exp ion-item ion-icon{
	transition: all .7s ease;
	transform: rotate(0deg);
    margin-top: 5px !important;
    float: right;
    color: inherit;	
}

.btn-exp.active ion-item ion-icon{
	transform: rotate(180deg);
}

.btn-exp.active ion-card-content{
	opacity:1;
	display:block;
}


.amigos ion-card ion-item{
	color:#EA3925;
}

.amigos ion-card .imgMain{
	max-width:80%;
	margin:10px auto;
}

  .button-inner{
	justify-content:initial;
  }

#logoWC {
  margin: 15px auto;
}

#logoWC ion-item, #logoWC ion-item .item-inner{
  background-color:transparent;
  border:0;
  color:#FFF;
  font-size:1em;
}

#logoWC ion-item ion-avatar img{
  width:40px;
  height:40px;
  margin-left: 13px;
}

#logoWC h2 {
    margin: 0 0 0 15px;
    float:left;
    display: inline-block;
    width: 120px;
    text-align: left;
    font-size: 1.4em;
    line-height: 1.5;
}

#logoWC p{
  color:#FFF;
  float:left;
  width: 50%;
  padding:5px;
}

#menu ion-fab button{
	background-color:transparent;
	color:#FFF;
	box-shadow:none;
	border-radius:50%;
}

#menu ion-fab-list{
	margin-left:40px;
}

#menu ion-fab a{
	background-color:transparent;
	color:#FFF;
	box-shadow:none;
	border-radius:50%;
}

#menu ion-fab button:hover, #menu ion-fab a:hover{
	color:#EA3925;
	opacity:initial;
}


page-home .menu button{
	padding-left:28px;
}


page-home #pageName{
	margin: 0 !important;
    line-height: 50px;
    float: left;
    font-weight: 600;
    text-transform: uppercase;
    cursor: default;
    color: #EA3925;
	padding-left:25px;
	font-size:1.5em;
}

page-home .amigos a{
	text-decoration:none;
}

@media (min-width: 1024px) {

  
  .button-inner{
	justify-content:center;
  }
  
  page-home .menu {
    position: static;
    width: auto;
    height: 50px;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    float: right;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	z-index:120;
  }
page-home .menu button{
	padding-left:15px;
}

page-home .menu button:hover .linea,  page-home .menu button.active .linea {
  width: 100%;
  height: 2px;

}

  #logoWC, #bk, #menu ion-fab{
  	display:none !important;
  }
  
  
  page-home .menu a {
    border: none;
  }
  page-home header label {
    display: none;
  }
  
  page-home .item-block{
  	min-height: 8.8rem;
  }
  
   page-home .item-md ion-avatar ion-img, page-home .item-md ion-avatar img{
	width: 80px;
    height: 80px;
  }
  
  .btn-exp ion-avatar.zoom .logo{
  	margin-top:-80px;
  } 
  
}

@media (max-width: 960px) {
  page-home .linajeImg {
    width: 24%;
    min-height: auto;
    height: auto;
  }
  .p-col p{
    -webkit-column-count: 1;
    column-count: 1;
  }
}


/*Ioinic Xtended by Alex*/

@media (min-width: 0px) {
	[xs-hide]{
		display:none;
	}
	
	[xs-show]{
		display:block;
	}	
}


@media (min-width: 0px) and (max-width: 575px) {
  [sm-hide] {
    display: none !important;
  }

}

@media (min-width: 576px) and (max-width: 767px) {
  [md-hide] {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  [lg-hide] {
    display: none !important;
  }



}

@media (min-width: 992px) {
  [xl-hide] {
    display: none !important;
  }
}

.inner-page{
	padding-top:50px;
}

@media (max-width:400px){
	page-home #pageName{
		font-size: 1.2em;
	}

}


