page-home {
        #slide-image{
            width: 100% !important;
        }
        .navBtn{
            width: 23%;
        }
        textarea{
            width: 100% !important;
        }
        ion-navbar{
            height: 90px !important;
        }
        .navBtn2{
            display: block;
        }
}
